@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --primary-color: #2196f3;
  --background-light: #fff;
  --background-dark: #121212;
  --text-light: #000;
  --text-dark: #fff;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-dark);
  transition: background-color 0.3s, color 0.3s;
  color: var(--background-light);
}

a {
  color: var(--background-light);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  font-size: 4rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

section {
  min-height: 100vh;
}

/* Nav Items */
.nav-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
}

/* Logo styling */
.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
  pointer-events: auto;
  text-decoration: none;
}

/* About link styling */
.about-link {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  pointer-events: auto;
}

/* Contact link styling */
.contact-link {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.7rem;
  text-decoration: none;
  pointer-events: auto;
}

/* Hover effects for links */
.about-link::before,
.contact-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.about-link:hover::before,
.contact-link:hover::before {
  width: 100%;
}

/* Hero Section */
.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/iswanto-arif-PNAD9NjsYb4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  transform: translateZ(0);
  will-change: transform;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* Add a semi-transparent overlay */
.hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content h1,
.hero-content h2,
.hero-content p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left-con {
  margin-left: 1.84rem;
}

.right-con p {
  max-width: 28rem;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 2rem;
}

/* Toggle Switch Styles
.toggle-switch {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.toggle-switch-handle {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-switch.active {
  background-color: var(--primary-color);
}

.toggle-switch.active .toggle-switch-handle {
  transform: translateX(26px);
}

/* Dark Mode Styles */
/* body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark-mode .nav-container a {
  color: var(--text-dark);
}

body.dark-mode .hero h2,
body.dark-mode .hero h1 {
  color: var(--text-dark);
}  */

/* About Section */
.about {
  display: flex;
  justify-content: center;
}

.about-text {
  margin-top: 4rem;
  margin-left: 2rem;
  text-align: center;
}

.about-text h2 {
  margin-bottom: 2rem;
}

.about-text p {
  max-width: 40rem;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 2rem;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #1976d2;
}
