@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #fff;
}

section {
  min-height: 100vh;
}

/* Header Section */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Navigation Bar */
#navbar {
  display: flex;
  gap: 6em;
  padding: 0 20px;
  align-items: center;
}

#navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

#navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

#navbar a:hover::before {
  width: 100%;
}

#navbar a.active::before {
  width: 100%;
}

#navbar a.active {
  font-weight: 700;
}

/* LOGO */
#navbar #logo {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#logo::before {
  display: none;
}

/* Hero Section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  max-width: 720px;
  text-align: center;
  padding: 0 20px;
}

.hero-container h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-container p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
}

/* Download Button */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px #fff;
}

/* About Me Section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -21vh;
  gap: 5em;
}

.about-text {
  max-width: 600px;
}

.profile-image img {
  width: 300px;
}

.about-text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -32vh;
}

.skills h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skills-text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-grid {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  color: black;
}

.skill-tag {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Contact Me Section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: -32vh; */
  padding: 40px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-text {
  text-align: center;
  margin-bottom: 30px;
}

.contact-text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: #444;
  color: #fff;
  width: 100%;
}

.contact-form label {
  margin-bottom: 10px;
  display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}

.contact-form button[type="submit"] {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #555;
  color: #fff;
}

.contact-form button[type="submit"]:hover {
  background-color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-links a {
  margin: 0 15px;
  font-size: 30px;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.social-links a:hover {
  color: #ccc;
}
